<!DOCTYPE html>
<html>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/handlebars.min.js"></script>
</head>
<body class="container">
    <div class="header d-flex">
        <div class="logo" href="#">{NULLPTR} </div>
        <div class="test ms-auto d-flex">
            <div class="nav-link vacancies" href="#">Вакансии</div>
            <div class="nav-link for-companies">Для компаний</div>
        </div>
        
    </div>
</body>
</html>
