<!DOCTYPE html>
<html>
<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/handlebars.min.js"></script>
</head>
<body class="bg-custom1 container-fluid">
    <div class="header d-flex py-3 px-3 align-items-center">

        <div class="logo" href="#">{NULLPTR} </div>
        <div class="navbar-nav ms-auto d-flex flex-row gap-3">
            <a class="nav-link vacancies" href="#">ВСЕ ВАКАНСИИ</a>
            <a class="nav-link for-companies">ДЛЯ КОМПАНИЙ</a>
        </div>
        
    </div>

    <hr class="border-top border-dark border-4 opacity-100 m-0">

</body>
</html>
