:root {
    --bg-color: #F4F3EF;
    --accent-color: #D94833;
    --text-color: #121212;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Plus Jakarta Sans', sans-serif;
    min-width: 1200px; /* Жесткий десктоп */
    overflow-x: auto;
}

.brand-font {
    font-family: 'Space Grotesk', sans-serif;
}

.text-accent {
    color: var(--accent-color) !important;
}

.bg-custom1 {
    background-color: var(--bg-color);
}

.brutal-border {
    border: 2px solid var(--text-color) !important;
}

.brutal-border-bottom {
    border-bottom: 2px solid var(--text-color) !important;
}

.brutal-border-end {
    border-right: 2px solid var(--text-color) !important;
}

.btn, .card-brutal, .brutal-shadow {
    box-shadow: 4px 4px 0px 0px var(--text-color) !important;
}

.btn-danger {
    background-color: var(--accent-color) !important;
    border-color: var(--text-color) !important;
}

.brutal-checkbox {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--text-color);
    border-radius: 0;
    cursor: pointer;
}
.brutal-checkbox:checked {
    background-color: var(--text-color);
    border-color: var(--text-color);
}

.magazine-col {
    border-right: 2px solid var(--text-color);
    padding: 3rem;
}